<!-- Required meta tags -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
th:replace="normal/base::layout(~{::section})">
<!-- only base likhoge to ye templete wala base ko inherit karega isaliye use batao normal fodler ka base inherit karo "normal/base-->
<head>
<meta charset="ISO-8859-1">
<title>contact Detail</title>
</head>
<body>
         
                           <!-- All About Contact details -->
         
         <section>
         
         
         
         <!-- me is pure div ke andhar tabi aayunga jab mera contact yeha pe aa raha ho malab me login hu to he muze page dikhi de varana nahi 
   else ki chize print hogi agar mai kis dusare user ka contact ko dekhane ki koshish karunga to-->
   
         <div class="card mr-3 ml-3"  th:if="${contact}">
         
 
         <div class="card-body" >
         
         <div class="container text-center" >
         
  <!-- photo hume dyanamic laani he to th:src  dayanamic iamge hume contact se nikalani he to contact.image} contact varible ke andhr ye feild he
my_profile_picture css ki lagate he taki image ko width higth sahi ho-->

							<img src="" style="height:150px;  width:150px;"   class="my_profile_picture"
							th:src="@{'/image/'+${contact.image}}" alt="profilephoto" />
         
                            
                             <!-- user ki sari detail denge  secondname malatb nikname () isame ayaga-->
                             <h3  class="mt-3" >
                             
                             <span  th:text="${contact.name}"></span>
                             
                             ( <span th:text="${contact.secoundName}"></span> )
                 
                             </h3>
                             
                             
                             
    <table class="table">
    <thead>
    <tr>
      <th scope="col">#ID</th>
      <th scope="col">SCMUSER<span th:text="${contact.cId}"></span></th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Email</th>
      <td><span th:text="${contact.email}"></span></td> 
    </tr>
    
    
    <tr>
      <th scope="row">Phone</th>
      <td><span th:text="${contact.phone}"></span></td> 
    </tr>
    
    
    <tr>
      <th scope="row">Work</th>
      <td><span th:text="${contact.work}"></span></td> 
    </tr>
   
  </tbody>
  
  
 
</table>

<!-- table ke bahar  descriptin dikhange  utext hmal page hoga decription me to use normal page dikhayeg text dekheiga coding nhi html ki-->
     <div class="description mt-3">
  
     <th:block th:utext="${contact.description}"></th:block>
  
         </div>
         
         
         <div class="container mt-3">
           
            <!-- Delete And Update Button  bade button dikhane he to adava button pahije asel tr btn-block -->
            
            
            
			 <button th:onclick="|deleteContact(${contact.cId})|" class="btn btn-danger btn-sm btn-block">Delete</button>
						       
						       
						       
						       <!-- contact.cId} is wale page pe contact use kar rahe ho to c.cId nahi chalegi -->
						       
						        <form method="post" th:action="@{'/user/update-contact/'+${contact.cId}}"  class="mt-2">
						     
						       <button type="submit" class="btn btn-block  btn btn-primary btn-sm">Update</button>
						      
						      
						      </form>
        
         </div>
         
         
         </div>
         
         </div>
         
         </div>
         
         
          <!--  else ka part he else ka matlab thymeleaf me unless hota he -->
         <h1 class="text-center p-3 bg-danger text-white mr-3"  th:unless="${contact}">You Don't have Permission to See This Contact </h1>
 
         </section>
</body>
</html>